# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
lockfiles/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*~
*#
\#*



# Django stuff

*.pickle
*.log
local_settings.py
relix3/settings.py

# relix specific

logs/
session_info/
utility_scripts/2024-12_migration/
relix/stash/
static/debug_toolbar/
static/relix/css/OLDER/
utility_scripts/artifacts/
relix/jinja2/_OOD/
utility_scripts/2021-03-23/
utility_scripts/completed_tasks_FY2022.py

pmid_counter.txt

static/ckeditor/
static/admin/
static/pacs/


az-include.*
*.sqlite3
*.log
*.mht
*.zip
jquery*
relix.sock=


